/** {
    border: 10px dotted darkcyan;
}*/

body{
background-color:lightblue;

background: url('glitter.JPG') center fixed; background-size: contain;
}

p{
    /*background-color:dodgerblue;*/ color: aliceblue;
    background-image: radial-gradient(circle, rgb(72, 127, 181) 10%, rgb(73, 138, 73) 40%, lightblue);
}


/*h1{
text-color:whitesmoke;
}*/


