

body{
background-color:rgb(82, 135, 152);
overflow-x: hidden;
margin: 5px;
    }

p{ 
    color: antiquewhite;
}

h1{
    color: darkslategrey;
}


.container{
    background: rgb(72, 102, 146);
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.poem{

    color: antiquewhite;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
}

.fih{
    height: 250px;
    width: 250px;
}

.passing{

    transition: 1.5s ease-in-out ;

}

.passing:hover{
    color: rgb(179, 170, 198);
}

.waves{
    color: lightblue;
    position: absolute;
    animation: waving 10s ease-in-out infinite alternate;
}

.wavestwo{
    color: darkslategrey;
    position: absolute;
    animation: waving 9s ease-in-out infinite alternate;
}

.wavesthree{
    color: rgb(179, 170, 198);
    position: absolute;
    animation: waving 9.5s ease-in-out infinite alternate;
}

@keyframes waving{
    0%{
        left: -100%;
    } 
    100%{
        left: 100%;
    }
}

.secondcontainer{
    background: rgb(72, 102, 146);
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    
}

a{
    color:lightblue;
    font-size: large;
    margin: 5px;
}

.inclass{
    color: rgb(81, 41, 169);
    font-family: fantasy;
}

summary{
    color:rgb(72, 102, 146); 
    text-shadow: 5px 5px antiquewhite;
    background: darkseagreen;
}

