
body{
    background-color: black;
    margin: 20px;
}

h2{
    background-color: lightpink;
    font-style: italic;
    font-family:cursive;
}

h3{
    background-color: lightpink;
    font-style: italic;
    font-family:cursive; 
}

.bedroom{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    gap: 5px 5px;
}

.bedroom a {
    height: 100%;
    width: 30%;
}

.wardrobe{
    display: flex;
    width: 100%;
    height: 120%;
    position: relative;
}

.wardrobe img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.not-wardrobe{ 
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    gap: 5px 5px;
}

.walls{
    background-color: white;
    height: 60%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    gap: 5px 5px;
}

/*.emptywall{
    background-color:rosybrown;
}*/

.window{
    background-color: saddlebrown;
    width: 50%;
    height: 70%;
}

.window img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.poster{
    display: flex;
    width: 30%;
    height: 80%;
}

.poster img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.floor{
    background-color: peru;
    height: 60%;
    display: flex;
    justify-content: space-around;

    }

.desk-rug{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;  
}

.desk{
    display: flex;
    width: 90%;
    height: 90%;
}

.desk img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.rug{
    display: flex;
    width: 90%;
    height: 90%;
}

.rug img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.emptyfloor{
    background-color: peru
}

.bed{
    width: 100%;
    height: 100%; 
}

.bed img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}






/* <div class="bed">
            <img src="assets/bed.jpg"></div>

        <div class="wardrobe">
            <img src="assets/wardrobe.jpg"></div>*/